*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{color:#222;text-decoration:none;
	font-family: 'Roboto', sans-serif;
}
body{
	font-family: 'Roboto', sans-serif;

	color:#222;
	background-color: #F3E3D1;
}

#header_wrap{
	border-bottom: 5px dashed #B8DBC9;
	position:fixed;
  left:0; top:0; right:0;
  z-index: 998;
	background-color: #F3E3D1;
}
#header{
	overflow: hidden;
	margin:0 auto;

	width:70%;
	padding:0.5%;

}


#gnb{
	margin:0 auto;
	width:calc(100%);
}

#gnb li{
	float:left;
	width:20%;
	padding:25px 2px 0;
	box-sizing: border-box;
	text-align: center;
}

#gnb li:nth-child(3){
	padding-top:0;
}
#gnb li a{
	display: inline-block;
	font-size:20px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	line-height: ;
}

#gnb li:nth-child(3) a{
	padding: 0 10px;

}


#gnb li a:hover{
	color:#23b4a8;
}



#banner_wrap{
 background-image:url(../images/bg3.png);
 height:100vh;
 background-size: cover;
 background-position: 0 100px;
 background-repeat: no-repeat;
}


#mobile_logo{
	display: none;
}

/*mobile media query*/
/*모바일 중단점 작게 잡아 다시 작업하기 ex)420*/

@media(max-width:768px){

	#gnb{
		display:none;
	}

	#mobile_logo{
		display:block;
		text-align: center;
		padding:5px 0;
	}
	#header_wrap{
		position: relative;

	}
	#banner_wrap{
		background-image:url(../images/bg3.png);
		height:60vh;
		background-size: cover;
		background-position: 40% 0;
		background-repeat: no-repeat;
	 }
}

/*section1*/

#section1{
	overflow: hidden;
	width: 70%;
	margin: 0 auto;
	padding: 8vw 5vw 0;
	box-sizing: border-box;
}

#section1 .box{
	width: 50%;
	overflow: hidden;
	float:left;
	font-family: 'Bebas Neue', cursive;
	color:#23b4a8;
	font-size: 2.5vw;
	line-height: 3vw;
	text-align: center;
	box-sizing: border-box;
	margin-bottom:;
	letter-spacing: 0.01em;
}


.letters{
	padding-top: 4vw;
}


.icons img{
	width: 70%;
}

#section1 .right{
	float: right;
}


/*mobile media query*/
@media(max-width:768px){
	#section1{
		width: 80%;
		padding: 30vw 0 0;

	}

	#section1 .box{
		width: 100%;
		font-size: 10vw;
		line-height: 10vw;
		padding:50px 0;
	}


	#section1 .box:nth-child(4){
		padding:0 0 50px;
	}

	#section1 .right{
	
	}

	.icons{

	}

	
	.icons img{
		width: 90%;
	}
	
}


/*section2*/

#section2_wrap{
	overflow: hidden;
	padding-top:  12vw /* 200px*/ ;
	cursor: pointer;


	/*
		background: #f3e3d1; 
	background: -moz-linear-gradient(top,   #f3e3d1 30%, #b8dbc9 30%, #b8dbc9 70%, #f3e3d1 70%); 
	background: -webkit-linear-gradient(top,  #f3e3d1 30%,#b8dbc9 30%,#b8dbc9 70%,#f3e3d1 70%); 
	background: linear-gradient(to bottom,  #f3e3d1 30%,#b8dbc9 30%,#b8dbc9 70%,#f3e3d1 70%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e3d1', endColorstr='#f3e3d1',GradientType=0 ); 
	
	*/
}

.s2box{
	width:50%;
	float:left;

}

.prod{

}
.video{

}

/*mobile media query*/
@media(max-width:768px){
	.s2box{
		width:100%;
	}
	#prod img{
		width: ;
	}
}

/*section3*/

#section3{
	overflow: hidden;
	padding-top:  12vw /* 200px*/ ;
	box-sizing: border-box;
}

h1{
	text-align: center;
	text-transform: uppercase;
	color: #E6885E;
	/*
	font-family: 'Bebas Neue', cursive;
	*/
	padding-bottom: 10vw; /*150px;*/
	font-size: 2.5vw;
}

#section3 ul li{
	position: relative;
	width: 14%;
	float: left;
	margin-left:2.29%;

}

/*
#section3 ul li{
	position: relative;
	width: 20%;
	float: left;
	margin-left: 4%;
	margin-bottom: 50px;

}
*/
#section3 img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.overlay{
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
}
#section3 ul li:hover .overlay{
	opacity: 1;
}

.overlay p{
	color:#fff;
	font-size: 24px;
	text-transform: ;
	position: absolute;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*mobile media query*/
@media(max-width:768px){
	#section3 ul li{
		width: 90%;
		margin:15px 5%;
		
	}

	h1{
		text-align: center;
		text-transform: uppercase;
		color: #E6885E;
		/*
		font-family: 'Bebas Neue', cursive;
		*/
		padding-bottom: 10vw; /*150px;*/
		font-size:32px;
		padding-top: 10vw;
	}
}


/*section4*/
#section4{
	overflow: hidden;
	padding:  12vw 0 /* 200px*/ ;
	box-sizing: border-box;
}

#section4 ul li{
	width:20%;
	height: 25vw;
	/*height: 27vw;*/
	float:left;
	margin-left: 3.7%;
	border-radius:;
	background-color:rgb(245, 245, 245);
	text-align: center;
	color:#EE9241;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.03em;
	font-size: 2.1vw;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 3%;

}

#section4 ul li:hover{
}

.menu{
	padding-top: 3.5%;
}

#section4 img{
	margin-top: 6%;
}


/*mobile media query*/
@media(max-width:768px){
	#section4{
		overflow: hidden;
		padding:  12vw 0 /* 200px*/ ;
		box-sizing: border-box;
	}

	#section4 ul li{
		width:100%;
		height: 130vw;
		/*height: 27vw;*/
		clear: both;
		margin-left:0;
		margin:40px 0;
		text-align: center;
		font-size: 40px;
		border-radius: 3%;


	}
	
	.menu{
		padding-top: 5%;
	}
	
	#section4 img{
		margin-top: 8%;
	}
	

}



#news_wrap{
	padding:80px 0 100px;
	background-color: #23b4a8;
	text-align: center;
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	text-transform: capitalize;
	font-style: italic;
}

.email{
	border: none;
	background-color: transparent;
	border-bottom: 4px solid #fff;
	width:350px;
	outline: none;
	color:#fff;
	font-size: 24px;
	padding-top: 60px;
	font-family: 'Roboto', sans-serif;

}

.email::placeholder {
  color: #fff;
	font-size: 16px;
	opacity: 0.4;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
}

.go{
	border: none;
	cursor: pointer;
	color:#23b4a8;
	font-size: 24px;
	font-weight: 700;
	padding:10px 12px;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;

}
.go:hover{
	background-color:#EE9241;
	color:#fff;
}

/*mobile media query*/
@media(max-width:768px){
	#news_wrap{
		margin-top: 50px;
		padding:50px 0;
		font-size: 26px;
	}
	
	.email{

		width:240px;
		font-size: 20px;
		padding-top: 60px;

	}
	
	.email::placeholder {
		font-size: 18px;
	}

	.go{

		color:#23b4a8;
		font-size: 20px;
	
	
	}

}

/*footer*/
#footer_wrap{
	padding:100px 0;
	background-color: #000;
}

#footer{
	width: 70%;
	overflow: hidden;
	margin:0 auto;
}

#social{
	width:20%;
	padding-bottom: 100px;
	/*	width:20vw;*/
}

#social li{
	float: left;
	width: 33%;
	text-align: center;

}


#social li img{
	opacity: 0.7;
	cursor: pointer;
}
#social li img:hover{
	opacity: 1;
}

#fnb{
	clear: both;
}
#fnb li{
	float: left;
	padding:0 20px;
}

#fnb li a{
	font-family: 'Bebas Neue', cursive;
	color:#fff;
	font-size: 22px;
	letter-spacing: 0.02em;
	display: block;
}

#rights{
	color:#fff;
	clear:both;
	padding:50px 0 0 15px;
	font-size: 14px;
}


/*mobile media query*/
@media(max-width:768px){
	#footer_wrap{
		padding:50px 0;

	}
	
	#footer{
		width: 80%;
		overflow: hidden;
		margin:0 auto;
	}
	
	#social{
		width:70%;
		padding-bottom: 60px;
		margin:0 auto;
	}
	
	#social li{
		float: left;
		width: 33%;
		text-align: center;
	
	}
	
	#social li img{
		opacity: 0.8;
	}

	
	#fnb{
		clear: both;
		margin:0 auto;
		width: 50%;
	}
	#fnb li{
		clear: both;
		padding:6px 0;
		text-align: center;
		width: 100%;
	}
	

	#rights{
		text-align: center;
		padding-top: 20px;
		font-size: 12px;
	}
	
}